.gmap {
	width: 500px;
	height: 250px;
	border: none;
}

#curvechart {
	width: 1100px;
	height: 200px;
}

#piechart {
	width: 550px;
	height: 200px;
}

#testo_recensione {
	height: 146px;
	overflow-y: auto;
}

#notfound_gif {
	width: 425px;
	height: 216px;
	border: none;
	overflow: hidden;
}

.ui-autocomplete {
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}

