@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?k3q10z');
    src:    url('fonts/icomoon.eot?k3q10z#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?k3q10z') format('truetype'),
        url('fonts/icomoon.woff?k3q10z') format('woff'),
        url('fonts/icomoon.svg?k3q10z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-shuffle:before {
    content: "\e900";
}

